* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@media all and (max-width: 764px) {
    #keyboard-container {
        font-size: calc(100vw/45);
        width: 100vw;
    }
}
@media all and (min-width: 765px) {
    #keyboard-container {
        font-size: 14px;
        width: auto;
    }
}
#keyboard-container {
    display: block;
    margin: 0px auto;
    position: fixed;
    bottom: 0;
    right: 0;
    border: 1px solid #fff;
    background-color: #475B63;
    padding: 5px;
    border-radius: 10px;
    z-index: 1000;
    font-family:  Verdana, Sans-Serif;
}
.ng-draggable {
    cursor: move;
}
#keyboard {
    margin: 0;
    padding: 0;
    list-style: none;
    display: block;
    width: 43.7em;
    height: 14.7em;
    margin: 0 auto;
}
#keyboard li {
    float: left;
    margin: 0 0.3em 0.3em 0;
    width: 2.7em;
    height: 2.7em;
    line-height: 2.7em;
    text-align: center;
    background: #fff;
    border: 1px solid #f9e9e9;
    border-radius: 0.3em;
}
.capslock,
.tab,
.left-shift {
    clear: left;
}
#keyboard .tab,
#keyboard .delete {
    width: 4.7em;
}
#keyboard .capslock {
    width: 5.3em;
}
#keyboard .return {
    width: 5em;
}
#keyboard .left-shift {
    width: 6.3em;
}
#keyboard .right-alt {
    width: 7em;
}
.lastitem {
    margin-right: 0 !important;
}
.uppercase {
    text-transform: uppercase;
}
#keyboard .space {
    clear: left;
    width: 100%;
    margin-bottom: 0px !important;
}
.on {
    display: none;
}
#keyboard li:hover,
.close-btn:hover,
.clear-btn:hover {
    position: relative;
    top: 1px;
    left: 1px;
    border-color: #e5e5e5;
    cursor: pointer;
}
/* action panel */
.action-panel {
    display: block;
    width: 100%;
    font-size: 1em;
    height: 2.7em;
    padding-bottom: 0.3em;
}
.close-btn,
.clear-btn {
    display: block;
    float: right;
    font-size: 1em;
    height: 2.3em;
    padding: 0.53em 0.7em;
    background-color: #fff;
    border: 1px solid #e5e5e5;
    border-radius: 0.3em;
    cursor: pointer;
}
.close-btn {
    width: 2.7em !important;
    margin-left: 0.3em;
}
.clear-btn {
    width: 4.7em !important;
    text-align: center;
    padding: 0px !important;
    line-height: 0.7em;
}
.close-btn img,
.delete img {
    display: block;
    height: 100%;
    width: auto;
    margin: 0 auto;
}
.delete {
    padding-top: 0.7em;
    padding-bottom: 0.7em;
}
.action-panel .lang-select {
    float: left;
    display: block;
    font-size: 1em;
    width: 8.7em;
    height: 2.3em;
    border-radius: 5px;
    background-color: #fff;
}
.pressed {
    background-color: #e5e5e5 !important;
}
