<div *ngIf="visibleValue && isKeyboardDraggable" id="keyboard-container" [ngDraggable]="isKeyboardDraggable" >
  <div class="action-panel">
    <select class="lang-select" [formControl]="lang" >
        <option *ngFor="let lang of settings.value; let i=index" value="{{i}}">{{ lang.title }} ({{ lang.id }})</option>
    </select>
    <button class="close-btn" (click)="onHide()"><img src="assets/cross.svg"></button>
    <button class="clear-btn" (click)="removeAll()">Clear</button>
  </div>
  <ul id="keyboard">
      <li (click)="addLetter(symMap[0][isShift])" class="symbol">{{ symMap[0][isShift] }}</li>
      <li (click)="addLetter(symMap[1][isShift])" class="symbol">{{ symMap[1][isShift] }}</li>
      <li (click)="addLetter(symMap[2][isShift])" class="symbol">{{ symMap[2][isShift] }}</li>
      <li (click)="addLetter(symMap[3][isShift])" class="symbol">{{ symMap[3][isShift] }}</li>
      <li (click)="addLetter(symMap[4][isShift])" class="symbol">{{ symMap[4][isShift] }}</li>
      <li (click)="addLetter(symMap[5][isShift])" class="symbol">{{ symMap[5][isShift] }}</li>
      <li (click)="addLetter(symMap[6][isShift])" class="symbol">{{ symMap[6][isShift] }}</li>
      <li (click)="addLetter(symMap[7][isShift])" class="symbol">{{ symMap[7][isShift] }}</li>
      <li (click)="addLetter(symMap[8][isShift])" class="symbol">{{ symMap[8][isShift] }}</li>
      <li (click)="addLetter(symMap[9][isShift])" class="symbol">{{ symMap[9][isShift] }}</li>
      <li (click)="addLetter(symMap[10][isShift])" class="symbol">{{ symMap[10][isShift] }}</li>
      <li (click)="addLetter(symMap[11][isShift])" class="symbol">{{ symMap[11][isShift] }}</li>
      <li (click)="addLetter(symMap[12][isShift])" class="symbol">{{ symMap[12][isShift] }}</li>
      <li (click)="removeLast()" class="delete lastitem"><img src="assets/arrow-left.svg"></li>
      <li (click)="addLetter('    ')" class="tab">tab</li>
      <li (click)="addLetter(keyMap[0][uppercase + isAlt])" class="letter">{{ keyMap[0][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[1][uppercase + isAlt])" class="letter">{{ keyMap[1][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[2][uppercase + isAlt])" class="letter">{{ keyMap[2][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[3][uppercase + isAlt])" class="letter">{{ keyMap[3][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[4][uppercase + isAlt])" class="letter">{{ keyMap[4][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[5][uppercase + isAlt])" class="letter">{{ keyMap[5][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[6][uppercase + isAlt])" class="letter">{{ keyMap[6][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[7][uppercase + isAlt])" class="letter">{{ keyMap[7][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[8][uppercase + isAlt])" class="letter">{{ keyMap[8][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[9][uppercase + isAlt])" class="letter">{{ keyMap[9][uppercase + isAlt] }}</li>
      <li (click)="addLetter(symMap[13][isShift])" class="symbol">{{ symMap[13][isShift] }}</li>
      <li (click)="addLetter(symMap[14][isShift])" class="symbol">{{ symMap[14][isShift] }}</li>
      <li (click)="addLetter(symMap[15][isShift])" class="symbol lastitem">{{ symMap[15][isShift] }}</li>
      <li (click)="toggleUppercase()" class="capslock" [ngClass]="{'pressed': uppercase === 1 ? true : false}" >caps lock</li>
      <li (click)="addLetter(keyMap[10][uppercase + isAlt])" class="letter">{{ keyMap[10][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[11][uppercase + isAlt])" class="letter">{{ keyMap[11][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[12][uppercase + isAlt])" class="letter">{{ keyMap[12][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[13][uppercase + isAlt])" class="letter">{{ keyMap[13][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[14][uppercase + isAlt])" class="letter">{{ keyMap[14][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[15][uppercase + isAlt])" class="letter">{{ keyMap[15][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[16][uppercase + isAlt])" class="letter">{{ keyMap[16][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[17][uppercase + isAlt])" class="letter">{{ keyMap[17][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[18][uppercase + isAlt])" class="letter">{{ keyMap[18][uppercase + isAlt] }}</li>
      <li (click)="addLetter(symMap[16][isShift])" class="symbol">{{ symMap[16][isShift] }}</li>
      <li (click)="addLetter(symMap[17][isShift])" class="symbol">{{ symMap[17][isShift] }}</li>
      <li (click)="addLetter('\u000d')" class="return lastitem">return</li>
      <li (click)="toggleShift()" class="left-shift" [ngClass]="{'pressed': isShift === 1 ? true : false}" >shift</li>
      <li (click)="addLetter(keyMap[19][uppercase + isAlt])" class="letter">{{ keyMap[19][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[20][uppercase + isAlt])" class="letter">{{ keyMap[20][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[21][uppercase + isAlt])" class="letter">{{ keyMap[21][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[22][uppercase + isAlt])" class="letter">{{ keyMap[22][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[23][uppercase + isAlt])" class="letter">{{ keyMap[23][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[24][uppercase + isAlt])" class="letter">{{ keyMap[24][uppercase + isAlt] }}</li>
      <li (click)="addLetter(keyMap[25][uppercase + isAlt])" class="letter">{{ keyMap[25][uppercase + isAlt] }}</li>
      <li (click)="addLetter(symMap[18][isShift])" class="symbol">{{ symMap[18][isShift] }}</li>
      <li (click)="addLetter(symMap[19][isShift])" class="symbol">{{ symMap[19][isShift] }}</li>
      <li (click)="addLetter(symMap[20][isShift])" class="symbol">{{ symMap[20][isShift] }}</li>
      <li (click)="toggleAlt()" class="right-alt lastitem" [ngClass]="{'pressed': isAlt === 1 ? true : false}" >alt</li>
      <li (click)="addLetter(' ')" class="space lastitem">&nbsp;</li>
  </ul>
</div>
<div *ngIf="visibleValue && !isKeyboardDraggable" id="keyboard-container" >
    <div class="action-panel">
      <select class="lang-select" [formControl]="lang" >
          <option *ngFor="let lang of settings.value; let i=index" value="{{i}}">{{ lang.title }} ({{ lang.id }})</option>
      </select>
      <button class="close-btn" (click)="onHide()"><img src="assets/cross.svg"></button>
      <button class="clear-btn" (click)="removeAll()">Clear</button>
    </div>
    <ul id="keyboard">
        <li (click)="addLetter(symMap[0][isShift])" class="symbol">{{ symMap[0][isShift] }}</li>
        <li (click)="addLetter(symMap[1][isShift])" class="symbol">{{ symMap[1][isShift] }}</li>
        <li (click)="addLetter(symMap[2][isShift])" class="symbol">{{ symMap[2][isShift] }}</li>
        <li (click)="addLetter(symMap[3][isShift])" class="symbol">{{ symMap[3][isShift] }}</li>
        <li (click)="addLetter(symMap[4][isShift])" class="symbol">{{ symMap[4][isShift] }}</li>
        <li (click)="addLetter(symMap[5][isShift])" class="symbol">{{ symMap[5][isShift] }}</li>
        <li (click)="addLetter(symMap[6][isShift])" class="symbol">{{ symMap[6][isShift] }}</li>
        <li (click)="addLetter(symMap[7][isShift])" class="symbol">{{ symMap[7][isShift] }}</li>
        <li (click)="addLetter(symMap[8][isShift])" class="symbol">{{ symMap[8][isShift] }}</li>
        <li (click)="addLetter(symMap[9][isShift])" class="symbol">{{ symMap[9][isShift] }}</li>
        <li (click)="addLetter(symMap[10][isShift])" class="symbol">{{ symMap[10][isShift] }}</li>
        <li (click)="addLetter(symMap[11][isShift])" class="symbol">{{ symMap[11][isShift] }}</li>
        <li (click)="addLetter(symMap[12][isShift])" class="symbol">{{ symMap[12][isShift] }}</li>
        <li (click)="removeLast()" class="delete lastitem"><img src="assets/arrow-left.svg"></li>
        <li (click)="addLetter('    ')" class="tab">tab</li>
        <li (click)="addLetter(keyMap[0][uppercase + isAlt])" class="letter">{{ keyMap[0][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[1][uppercase + isAlt])" class="letter">{{ keyMap[1][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[2][uppercase + isAlt])" class="letter">{{ keyMap[2][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[3][uppercase + isAlt])" class="letter">{{ keyMap[3][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[4][uppercase + isAlt])" class="letter">{{ keyMap[4][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[5][uppercase + isAlt])" class="letter">{{ keyMap[5][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[6][uppercase + isAlt])" class="letter">{{ keyMap[6][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[7][uppercase + isAlt])" class="letter">{{ keyMap[7][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[8][uppercase + isAlt])" class="letter">{{ keyMap[8][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[9][uppercase + isAlt])" class="letter">{{ keyMap[9][uppercase + isAlt] }}</li>
        <li (click)="addLetter(symMap[13][isShift])" class="symbol">{{ symMap[13][isShift] }}</li>
        <li (click)="addLetter(symMap[14][isShift])" class="symbol">{{ symMap[14][isShift] }}</li>
        <li (click)="addLetter(symMap[15][isShift])" class="symbol lastitem">{{ symMap[15][isShift] }}</li>
        <li (click)="toggleUppercase()" class="capslock" [ngClass]="{'pressed': uppercase === 1 ? true : false}" >caps lock</li>
        <li (click)="addLetter(keyMap[10][uppercase + isAlt])" class="letter">{{ keyMap[10][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[11][uppercase + isAlt])" class="letter">{{ keyMap[11][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[12][uppercase + isAlt])" class="letter">{{ keyMap[12][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[13][uppercase + isAlt])" class="letter">{{ keyMap[13][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[14][uppercase + isAlt])" class="letter">{{ keyMap[14][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[15][uppercase + isAlt])" class="letter">{{ keyMap[15][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[16][uppercase + isAlt])" class="letter">{{ keyMap[16][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[17][uppercase + isAlt])" class="letter">{{ keyMap[17][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[18][uppercase + isAlt])" class="letter">{{ keyMap[18][uppercase + isAlt] }}</li>
        <li (click)="addLetter(symMap[16][isShift])" class="symbol">{{ symMap[16][isShift] }}</li>
        <li (click)="addLetter(symMap[17][isShift])" class="symbol">{{ symMap[17][isShift] }}</li>
        <li (click)="addLetter('\u000d')" class="return lastitem">return</li>
        <li (click)="toggleShift()" class="left-shift" [ngClass]="{'pressed': isShift === 1 ? true : false}" >shift</li>
        <li (click)="addLetter(keyMap[19][uppercase + isAlt])" class="letter">{{ keyMap[19][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[20][uppercase + isAlt])" class="letter">{{ keyMap[20][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[21][uppercase + isAlt])" class="letter">{{ keyMap[21][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[22][uppercase + isAlt])" class="letter">{{ keyMap[22][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[23][uppercase + isAlt])" class="letter">{{ keyMap[23][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[24][uppercase + isAlt])" class="letter">{{ keyMap[24][uppercase + isAlt] }}</li>
        <li (click)="addLetter(keyMap[25][uppercase + isAlt])" class="letter">{{ keyMap[25][uppercase + isAlt] }}</li>
        <li (click)="addLetter(symMap[18][isShift])" class="symbol">{{ symMap[18][isShift] }}</li>
        <li (click)="addLetter(symMap[19][isShift])" class="symbol">{{ symMap[19][isShift] }}</li>
        <li (click)="addLetter(symMap[20][isShift])" class="symbol">{{ symMap[20][isShift] }}</li>
        <li (click)="toggleAlt()" class="right-alt lastitem" [ngClass]="{'pressed': isAlt === 1 ? true : false}" >alt</li>
        <li (click)="addLetter(' ')" class="space lastitem">&nbsp;</li>
    </ul>
  </div>
